<div class="footer-container">
  <!-- Section pour l'adresse -->
  <div class="footer-address">
    <h3>Logo</h3>
    <p>123 Rue Exemple<br />75000 Paris<br />France</p>
  </div>

  <!-- Section pour la carte -->
  <div class="footer-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9990777720964!2d2.293265415674978!3d48.85884407928776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66c1e89a21d0f%3A0x1b0bd15ed23068d0!2sEiffel%20Tower!5e0!3m2!1sen!2sfr!4v1675970945535!5m2!1sen!2sfr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</div>
